/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 23, 2017, 11:22:57 PM
    Author     : mutasem
*/

html{
    height:100vh;
}

body{
    background-color:#000;
    font-family:arial;
    overflow-x: hidden;
    /*min-width: 325px;*/
    background-color:#00FFC2 !important;
    margin: 0;
}

header{
    display: flex !important;
    justify-content: space-between;
    padding: 1rem;
    background:linear-gradient(to bottom,#4C7F73,#00FFC2 ) ;
    font-family: 'Bubbler One', sans-serif;
    font-weight: 900;
    font-size: 2rem;
}

a#add-new-playlist{
    color:white !important;
    text-decoration: none;
}

a#add-new-playlist:hover{
    text-decoration: line-through;
}

input{
    border-radius: 2px;
    padding:3px;
    border:none;
    border-bottom: 2px solid gray;
}

input:focus {
    outline: none;
}

main.all-albums{
    display:flex!important;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 3em;
}

section.album-cover{
    background-repeat : no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 100%;
    width:300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:1em;
    position:relative;
}

secton.album-cover img{
    border-radius: 100%;
    margin: 2rem;
}

section.album-cover:hover{
    box-shadow: 0 0 7em #808080;
    cursor: pointer;
    position: relative;
}

main.all-albums section.album-cover{
    margin: 3em;
}
    
h3 {
    font: 2rem Monaco, MonoSpace;
    /*height: 5.5em;*/
    position: absolute;
    left: 0.7em;
    bottom:  6em;
    /*transform-origin: bottom center;*/
    font-size: 2em;
    /*margin: 4em;*/
}

section.showAlbum{
    display: flex;
}


section.hideAlbum{
    display: none;
}
/*.char1 { transform: rotate(-40deg); }
.char2 { transform: rotate(-30deg); }
.char3 { transform: rotate(-20deg); }
.char4 { transform: rotate(-10deg); }
.char5 { transform: rotate(0deg); }
.char6 { transform: rotate(10deg); }
.char7 { transform: rotate(20deg); }
.char8 { transform: rotate(30deg); }*/



