/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 26, 2017, 6:01:24 PM
    Author     : mutasem
*/

@media only screen and (max-width:385px){
    
     img#add-album-image{
        width: 100%;
        height: 100%;
    }
    
    div#add-new-playlist-content{
        display: block;
    }
    
    div.popup-modal-footer{
        margin: 1em;
        text-align: center;
    }
}

@media only screen and (max-width:530px){
    
    input#song-URL, input#song-name{
        display: block;
    }
    
    form#add-playlist-songs-form{
        text-align: center;
    }
    
    div.add-song-rows{
        display: flex;
        flex-direction: column;
    }
    
     i#delete-row{
        text-align: right;
        padding: 1em;
    }
    
    i#delete-row:hover{
        transform: scale(1);
    }
    section.album-cover{
        margin:0.5vw auto !important;
        margin-bottom: 3em !important;
    }
}

@media only screen and (max-width:680px){
    
    section.music-player-album-cover{
        height: 170px;
        width: auto;
    }
    
    div#cancel-popup{
        width: auto;
    }
    
    div.music-player{
        width: auto;
        background-color: transparent;
        border-radius: 0;
        display: inline-block;
    }
}

@media only screen and (max-width:735px){   
    main#music-player-container{
        display: block;
        text-align: center;  
    }
    
    section.music-player-album-cover{
        width:250px;
        height:250px;
    }
}

@media only screen and (max-width:840px){
    div#add-new-playlist-popup{
        width: inherit;
    }
}


